<!DOCTYPE html>
<html ng-app="application">
<head>
    <meta charset="utf-8">
    <title>Inspir3 - Dépense</title>
    
    <link rel="stylesheet" href="../../css/bootstrap-combined.min.css">
    
    <script src="../../lib/angular-1.3.4.min.js"></script>
    <script src="../../lib/angular-route-1.3.4.min.js"></script>
    <script src="depense/application.js"></script>
    <script src="depense/modele.js"></script>
    <script src="inspir3.js"></script>
</head>
<body>

    <h1>Application dépenses</h1>
    
    <div ng-controller="DepenseControleur">
      
        <span class="help-inline">{{message}}</span>
                
        <form ng-submit="ajouter()">
            <input type="text" ng-model="description" size="50" placeholder="Description">
            <input type="text" ng-model="achat" size="16" placeholder="Montant d'achat">
            <input type="text" ng-model="vente" size="16" placeholder="Montant de vente">
            <input type="text" ng-model="poids" size="6" placeholder="Poids">
        
            <input class="btn-primary" type="submit" value="Ajouter">
        </form>   
        
        <hr>
        
        <table>
            <thead>
                <tr>
                    <th>Id</th><th>Description</th><th>Achat</th><th>Vente</th><th>Poids</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="depense in depenses">
                    <td>{{depense.id}}</td><td>{{depense.description}}</td><td>{{depense.achat}}</td><td>{{depense.vente}}</td><td>{{depense.poids}}</td><td><a href="" ng-click="supprimer(depense.id)">X</a></td>
                </tr>
            </tbody>
        </table>
                  
    </div>    
    
</body>
</html>